#### Imports

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 100)

KAGGLE = 0

#### Global Variables

In [2]:
TRAIN_CSV_PATH = 'train.feather'
QUESTIONS_CSV_PATH = 'questions.csv'
LECTURES_CSV_PATH = 'lectures.csv'
TEST_CSV_PATH = 'test.csv'
SAMPLE_CSV_PATH = 'example_sample_submission.csv'

if KAGGLE:
    TRAIN_CSV_PATH = '/kaggle/input/riiid-test-answer-prediction/train.csv'
    QUESTIONS_CSV_PATH = '/kaggle/input/riiid-test-answer-prediction/questions.csv'
    LECTURES_CSV_PATH = '/kaggle/input/riiid-test-answer-prediction/lectures.csv'
    TEST_CSV_PATH = '/kaggle/input/riiid-test-answer-prediction/test.csv'
    SAMPLE_CSV_PATH = '/kaggle/input/riiid-test-answer-prediction/example_sample_submission.csv'

COLUMN_TYPES = {
    'row_id': 'int64',
    'timestamp': 'int64',
    'user_id': 'int32',
    'content_id': 'int16',
    'content_type_id': 'int8',
    'task_container_id': 'int16',
    'user_answer': 'int8',
    'answered_correctly': 'int8',
    'prior_question_elapsed_time': 'float32',
    'prior_question_had_explanation': 'boolean'
}

In [3]:
# train_df = pd.read_csv(TRAIN_CSV_PATH, nrows=10**5, dtype=COLUMN_TYPES)
train_df = pd.read_feather(TRAIN_CSV_PATH)
train_df = train_df.iloc[:1000]
questions_df = pd.read_csv(QUESTIONS_CSV_PATH)
lectures_df = pd.read_csv(LECTURES_CSV_PATH)

#### Check for user specific features

In [4]:
train_df

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,<NA>
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False
...,...,...,...,...,...,...,...,...,...,...
995,995,15092368574,13134,2334,0,297,3,0,22333.0,True
996,996,15092368574,13134,2333,0,297,0,0,22333.0,True
997,997,15092493419,13134,2182,0,298,3,0,31666.0,True
998,998,15092493419,13134,2184,0,298,0,1,31666.0,True
999,999,15092493419,13134,2183,0,298,1,1,31666.0,True

##### 1. Get timestamp as hours and minutes

In [5]:
print("user ids: ", train_df.user_id.unique(), ", user count: ", len(train_df.user_id.unique()))

user ids:  [  115   124  2746  5382  8623  8701 12741 13134] , user count:  8

In [6]:
df = train_df['user_id'].value_counts().reset_index()
df.columns = [
    'user_id', 
    'count'
]
df = df.sort_values('count')
print("number of users with less interactions: {} \n".format(df[:1]))
print("number of users with more interactions: {} \n".format(df[-1:]))

number of users with less interactions:    user_id  count
7     8701     17

number of users with more interactions:    user_id  count
0    13134    376

In [7]:
student_id = 115

In [8]:
feature_df = train_df[train_df['user_id']==student_id]

In [9]:
def get_timestamp_in_parts(row):
    millis = row.timestamp
    seconds = (millis / 1000)
    minutes = (seconds / 60)
    hours = (minutes / 60)
    days = (hours / 24)
    return days, hours, minutes

def get_prior_elasped_time_in_parts(row):
    prior_millis = row.prior_question_elapsed_time
    prior_seconds = (prior_millis / 1000)
    prior_minutes = (prior_seconds / 60)
    return prior_minutes, prior_seconds

feature_df[['days', 'hours', 'minutes']] = [*feature_df.apply(lambda row: get_timestamp_in_parts(row), axis=1)]
feature_df[['prior_minutes', 'prior_seconds']] = [*feature_df.apply(lambda row: get_prior_elasped_time_in_parts(row), axis=1)]

In [59]:
train_df[['days', 'hours', 'minutes']] = [*train_df.apply(lambda row: get_timestamp_in_parts(row), axis=1)]
train_df[['prior_minutes', 'prior_seconds']] = [*train_df.apply(lambda row: get_prior_elasped_time_in_parts(row), axis=1)]

In [10]:
feature_df

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,days,hours,minutes,prior_minutes,prior_seconds
0,0,0,115,5692,0,1,3,1,NaN,<NA>,0.000000,0.000000,0.000000,NaN,NaN
1,1,56943,115,5716,0,2,2,1,37000.0,False,0.000659,0.015817,0.949050,0.616667,37.000
2,2,118363,115,128,0,0,0,1,55000.0,False,0.001370,0.032879,1.972717,0.916667,55.000
3,3,131167,115,7860,0,3,0,1,19000.0,False,0.001518,0.036435,2.186117,0.316667,19.000
4,4,137965,115,7922,0,4,1,1,11000.0,False,0.001597,0.038324,2.299417,0.183333,11.000
5,5,157063,115,156,0,5,2,1,5000.0,False,0.001818,0.043629,2.617717,0.083333,5.000
6,6,176092,115,51,0,6,0,1,17000.0,False,0.002038,0.048914,2.934867,0.283333,17.000
7,7,194190,115,50,0,7,3,1,17000.0,False,0.002248,0.053942,3.236500,0.283333,17.000
8,8,212463,115,7896,0,8,2,1,16000.0,False,0.002459,0.059017,3.541050,0.266667,16.000
9,9,230983,115,7863,0,9,0,1,16000.0,False,0.002673,0.064162,3.849717,0.266667,16.000
10,10,255381,115,152,0,10,2,0,17000.0,False,0.002956,0.070939,4.256350,0.283333,17.000
11,11,280033,115,104,0,11,1,0,22000.0,False,0.003241,0.077787,4.667217,0.366667,22.000
12,12,302994,115,108,0,12,1,0,23000.0,False,0.003507,0.084165,5.049900,0.383333,23.000
13,13,328686,115,7900,0,13,0,1,21000.0,False,0.003804,0.091302,5.478100,0.350000,21.000
14,14,352686,115,7901,0,14,1,1,24000.0,False,0.004082,0.097968,5.878100,0.400000,24.000
15,15,376162,115,7971,0,15,2,1,22000.0,False,0.004354,0.104489,6.269367,0.366667,22.000
16,16,398020,115,25,0,16,1,1,21000.0,False,0.004607,0.110561,6.633667,0.350000,21.000
17,17,418008,115,183,0,17,0,0,20000.0,False,0.004838,0.116113,6.966800,0.333333,20.000
18,18,437272,115,7926,0,18,1,1,18000.0,False,0.005061,0.121464,7.287867,0.300000,18.000
19,19,468511,115,7927,0,19,3,1,17000.0,False,0.005423,0.130142,7.808517,0.283333,17.000
20,20,490100,115,4,0,20,1,0,29000.0,False,0.005672,0.136139,8.168333,0.483333,29.000
21,21,510583,115,7984,0,21,3,0,20000.0,False,0.005910,0.141829,8.509717,0.333333,20.000
22,22,534187,115,45,0,22,2,0,19000.0,False,0.006183,0.148385,8.903117,0.316667,19.000
23,23,557677,115,185,0,23,3,0,21000.0,False,0.006455,0.154910,9.294617,0.350000,21.000
24,24,575289,115,55,0,24,3,1,22000.0,False,0.006658,0.159803,9.588150,0.366667,22.000
25,25,597863,115,7876,0,25,3,1,16000.0,False,0.006920,0.166073,9.964383,0.266667,16.000
26,26,621464,115,6,0,26,2,1,20000.0,False,0.007193,0.172629,10.357733,0.333333,20.000
27,27,645415,115,172,0,27,1,1,22000.0,False,0.007470,0.179282,10.756917,0.366667,22.000
28,28,670520,115,7898,0,28,2,1,22000.0,False,0.007761,0.186256,11.175333,0.366667,22.000
29,29,692971,115,175,0,29,0,0,23000.0,False,0.008020,0.192492,11.549517,0.383333,23.000
30,30,710402,115,100,0,30,0,1,20000.0,False,0.008222,0.197334,11.840033,0.333333,20.000
31,31,732421,115,7859,0,31,3,0,15000.0,False,0.008477,0.203450,12.207017,0.250000,15.000
32,32,1219624,115,57,0,32,0,1,20000.0,False,0.014116,0.338784,20.327067,0.333333,20.000
33,33,1252621,115,7948,0,33,0,1,20000.0,True,0.014498,0.347950,20.877017,0.333333,20.000
34,34,1284094,115,151,0,34,3,1,22000.0,True,0.014862,0.356693,21.401567,0.366667,22.000
35,35,1320874,115,167,0,35,2,1,19000.0,True,0.015288,0.366909,22.014567,0.316667,19.000
36,36,1359412,115,7897,0,36,3,0,17000.0,True,0.015734,0.377614,22.656867,0.283333,17.000
37,37,1415188,115,7882,0,37,2,1,20000.0,True,0.016379,0.393108,23.586467,0.333333,20.000
38,38,1468285,115,7962,0,38,3,1,17000.0,True,0.016994,0.407857,24.471417,0.283333,17.000
39,39,667861680,115,1278,0,39,3,1,21000.0,False,7.729881,185.517133,11131.028000,0.350000,21.000
40,40,667971812,115,2065,0,40,2,1,17000.0,False,7.731155,185.547726,11132.863533,0.283333,17.000
41,41,667971812,115,2064,0,40,1,1,17000.0,False,7.731155,185.547726,11132.863533,0.283333,17.000
42,42,667971812,115,2063,0,40,3,0,17000.0,False,7.731155,185.547726,11132.863533,0.283333,17.000
43,43,668090043,115,3363,0,41,1,0,14333.0,False,7.732524,185.580568,11134.834050,0.238883,14.333
44,44,668090043,115,3365,0,41,0,0,14333.0,False,7.732524,185.580568,11134.834050,0.238883,14.333
45,45,668090043,115,3364,0,41,1,1,14333.0,False,7.732524,185.580568,11134.834050,0.238883,14.333

##### 2. Find the intro rows.

In [11]:
# There are no actions which are having elapsed time when the action is lecture and the explanation is false (it will be always false for lectures)
train_df[(train_df.answered_correctly == -1) &  (train_df.prior_question_had_explanation==False)].count()

row_id                            18
timestamp                         18
user_id                           18
content_id                        18
content_type_id                   18
task_container_id                 18
user_answer                       18
answered_correctly                18
prior_question_elapsed_time        0
prior_question_had_explanation    18
dtype: int64

In [12]:
train_df[(train_df.timestamp == 0) &  (train_df.content_type_id==1)].count()
# There are 80 rows related to the intro lecutures

row_id                            0
timestamp                         0
user_id                           0
content_id                        0
content_type_id                   0
task_container_id                 0
user_answer                       0
answered_correctly                0
prior_question_elapsed_time       0
prior_question_had_explanation    0
dtype: int64

In [13]:
len(train_df[(train_df.timestamp == 0) &  (train_df.content_type_id==0)].user_id.unique())

8

In [14]:
len(train_df[(train_df.timestamp == 0) &  (train_df.content_type_id==1)].user_id.unique())

0

In [15]:
# The unique user count is 393656
# The count when added will be 393576 + 80

In [16]:
# some of the intro are having the explanation
len(train_df[~(train_df.timestamp == 0) & (train_df.prior_question_had_explanation.isnull())].user_id.unique())

0

In [17]:
# most of the elapsed time is null for intro sections
len(train_df[~(train_df.timestamp == 0) & (train_df.prior_question_elapsed_time.isnull())].user_id.unique())

5

In [18]:
dropped_duplicates = train_df.drop_duplicates(subset=['user_id'])
dropped_duplicates

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,<NA>
46,46,0,124,7900,0,0,0,1,NaN,<NA>
76,76,0,2746,5273,0,0,1,0,NaN,<NA>
96,96,0,5382,5000,0,0,0,1,NaN,<NA>
224,224,0,8623,3915,0,0,3,1,NaN,<NA>
336,336,0,8701,3901,0,0,2,1,NaN,<NA>
353,353,0,12741,5145,0,0,3,0,NaN,<NA>
624,624,0,13134,3926,0,0,3,1,NaN,<NA>

In [19]:
len(train_df[(train_df.timestamp == 0)].user_id.unique())
# This proves that the timestamp 0 is the beginning for all the students

8

In [20]:
train_df['intro_section'] = np.where(train_df.timestamp == 0, True, False)
train_df.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,intro_section
0,0,0,115,5692,0,1,3,1,NaN,<NA>,True
1,1,56943,115,5716,0,2,2,1,37000.0,False,False
2,2,118363,115,128,0,0,0,1,55000.0,False,False
3,3,131167,115,7860,0,3,0,1,19000.0,False,False
4,4,137965,115,7922,0,4,1,1,11000.0,False,False

In [21]:
lectures_df.type_of.unique()

array(['concept', 'solving question', 'intention', 'starter'],
      dtype=object)

In [22]:
lectures_df[lectures_df.type_of=='starter']

     lecture_id  tag  part  type_of
54         4385  181     5  starter
261       21169  151     5  starter
362       28569   27     6  starter

In [23]:
lectures_df[lectures_df.type_of=='intention']

     lecture_id  tag  part    type_of
38         3153   62     2  intention
65         5752    6     2  intention
76         6808  129     2  intention
103        8976   62     2  intention
109        9554   69     2  intention
174       14325   69     2  intention
349       27699  129     2  intention

In [24]:
starter_ids = train_df[(train_df.timestamp == 0)].task_container_id.unique()

In [25]:
questions_df[questions_df.question_id.isin(starter_ids)]

   question_id  bundle_id  correct_answer  part           tags
0            0          0               0     1  51 131 162 38
1            1          1               1     1      131 36 81

In [26]:
questions_df[questions_df.part == 1]

       question_id  bundle_id  correct_answer  part            tags
0                0          0               0     1   51 131 162 38
1                1          1               1     1       131 36 81
2                2          2               0     1  131 101 162 92
3                3          3               0     1  131 149 162 29
4                4          4               3     1    131 5 162 38
...            ...        ...             ...   ...             ...
12930        12930      12930               0     1         9 10 92
12931        12931      12931               2     1      131 104 92
12932        12932      12932               0     1      131 187 92
12933        12933      12933               3     1         9 10 92
12934        12934      12934               2     1       131 93 92

[992 rows x 5 columns]

In [27]:
train_df[(train_df.timestamp != 0) & (train_df.task_container_id.isin(starter_ids))]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,intro_section
2,2,118363,115,128,0,0,0,1,55000.0,False,False
47,47,32683,124,7876,0,1,0,0,26000.0,False,False
77,77,21592,2746,758,0,1,0,0,28000.0,False,False
97,97,39828,5382,3944,0,1,1,0,24000.0,False,False
225,225,38769,8623,4750,0,1,1,1,16000.0,False,False
337,337,17833,8701,6671,0,1,0,1,13000.0,False,False
354,354,22273,12741,9691,0,1,3,1,13000.0,False,False
625,625,23840,13134,564,0,1,1,0,22000.0,False,False

In [28]:
# This shows that there a way more intro sections.

In [29]:
train_df['intro_section'] = np.where(train_df.task_container_id.isin(starter_ids), True, False)
train_df.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,intro_section
0,0,0,115,5692,0,1,3,1,NaN,<NA>,True
1,1,56943,115,5716,0,2,2,1,37000.0,False,False
2,2,118363,115,128,0,0,0,1,55000.0,False,True
3,3,131167,115,7860,0,3,0,1,19000.0,False,False
4,4,137965,115,7922,0,4,1,1,11000.0,False,False

##### 3. The actions after the lectures should be tagged with something.

In [30]:
train_df[(train_df['user_id']==student_id) & (train_df['row_id'] >= 54177)][:100]

Empty DataFrame
Columns: [row_id, timestamp, user_id, content_id, content_type_id, task_container_id, user_answer, answered_correctly, prior_question_elapsed_time, prior_question_had_explanation, intro_section]
Index: []

In [31]:
# Things to do here with the issue with the lecture things being more positive towards answering
# we have to combine the question and lectures to do something like this
# 1. There rows which come after the lecture should be values based on the tag or the type of question
# example: if the user is having the lecture on concept and the question is based on some other type then the value given will not be correct so we have to come up with some thing brillent to check this.
# 2. Time is a great factor to look out for, the time the lecture is seen and the time at which it is answer will be depentent

In [32]:
# First we will check what all question and lecture relate

In [33]:
lectures_df[lectures_df.type_of=="starter"].tag.unique()

array([181, 151,  27])

In [34]:
questions_df[questions_df.tags.str.contains(r"^27", na=False)]

       question_id  bundle_id  correct_answer  part    tags
6484          6484       6481               1     6      27
6488          6488       6485               3     6  27 162
6492          6492       6489               3     6      27
6496          6496       6493               0     6      27
6498          6498       6497               3     6      27
...            ...        ...             ...   ...     ...
11182        11182      11179               3     6      27
11616        11616      11615               0     6      27
11621        11621      11619               2     6      27
11626        11626      11623               1     6      27
11630        11630      11627               1     6      27

[302 rows x 5 columns]

In [35]:
questions_df

       question_id  bundle_id  correct_answer  part            tags
0                0          0               0     1   51 131 162 38
1                1          1               1     1       131 36 81
2                2          2               0     1  131 101 162 92
3                3          3               0     1  131 149 162 29
4                4          4               3     1    131 5 162 38
...            ...        ...             ...   ...             ...
13518        13518      13518               3     5              14
13519        13519      13519               3     5               8
13520        13520      13520               2     5              73
13521        13521      13521               0     5             125
13522        13522      13522               3     5              55

[13523 rows x 5 columns]

In [36]:
lectures_df

     lecture_id  tag  part           type_of
0            89  159     5           concept
1           100   70     1           concept
2           185   45     6           concept
3           192   79     5  solving question
4           317  156     5  solving question
..          ...  ...   ...               ...
413       32535    8     5  solving question
414       32570  113     3  solving question
415       32604   24     6           concept
416       32625  142     2           concept
417       32736   82     3           concept

[418 rows x 4 columns]

In [37]:
feature_df = train_df.join(questions_df.set_index("question_id"), 'content_id', how='left')

In [279]:
lecture_dict = lectures_df.set_index("lecture_id").to_dict(orient="index")
lecture_comprehensive_type_of_dict = lectures_df.set_index('type_of').groupby(level=0).apply(lambda row: row.to_dict('list')).to_dict()
lecture_comprehensive_part_dict = lectures_df.set_index('part').groupby(level=0).apply(lambda row: row.to_dict('list')).to_dict()

In [290]:
question_dict = questions_df.set_index("question_id").to_dict(orient="index")

In [283]:
for key in lecture_comprehensive_part_dict:
    lecture_comprehensive_part_dict[key]['tag'] = list(set(lecture_comprehensive_part_dict[key]['tag']))
    lecture_comprehensive_part_dict[key]['type_of'] = list(set(lecture_comprehensive_part_dict[key]['type_of']))

for key in lecture_comprehensive_type_of_dict:
    lecture_comprehensive_type_of_dict[key]['tag'] = list(set(lecture_comprehensive_type_of_dict[key]['tag']))
    lecture_comprehensive_type_of_dict[key]['part'] = list(set(lecture_comprehensive_type_of_dict[key]['part']))

In [285]:
for key in lecture_comprehensive_part_dict:
    print(lecture_comprehensive_part_dict[key]['type_of'])

['concept', 'solving question']
['concept', 'solving question', 'intention']
['solving question', 'concept']
['concept', 'solving question']
['concept', 'starter', 'solving question']
['concept', 'starter', 'solving question']
['concept', 'solving question']

In [277]:
questions_dict = questions_df.set_index('question_id').to_dict(orient='index')

In [294]:
question_dict[13249]

{'bundle_id': 13247,
 'correct_answer': 1,
 'part': 3,
 'tags': '136 81 92',
 'has_related_tag': False}

In [297]:
question_dict[13249] in lecture_comprehensive_type_of_dict['starter']['part']

False

In [315]:
def apply_filter_based_on_previous_row(func):
    prev_row = {
        "has_seen_lecture": False,
        "previous_lecture_hours": 0,
        "previous_lecture": {},
        "user_id": ""
    }
    def wrapper(curr_row, **kwargs):
        content_id = curr_row['content_id']
        has_seen_same_tag_as_lecture = False
        has_seen_same_part_as_lecture = False
        has_part_common_with_type_of = False
        has_tag_common_with_type_of = False
        has_tag_common_with_part_dict = False
        has_type_of_common_with_part_dict = False
        if prev_row['user_id'] == curr_row['user_id']:
            if curr_row['content_type_id'] != 0:
                prev_row['has_seen_lecture'] = True
                prev_row['previous_lecture_hours'] = curr_row['hours']
                prev_row['previous_lecture'] = lecture_dict[content_id]
            else:
                has_seen_same_tag_as_lecture = (str(prev_row['previous_lecture'].get("tag", "")) in str(question_dict[content_id]['tags']).split())
                has_seen_same_part_as_lecture = (prev_row['previous_lecture'].get("part") == question_dict[content_id]['part'])
                prev_type_of = prev_row['previous_lecture'].get("type_of")
                prev_part = prev_row['previous_lecture'].get("part")
                has_part_common_with_type_of = question_dict[content_id]['part'] in  lecture_comprehensive_type_of_dict.get(prev_type_of, {}).get('part', [])
                has_tag_common_with_type_of = bool(set(map(int, str(question_dict[content_id]['tags']).split())).intersection(lecture_comprehensive_type_of_dict.get(prev_type_of, {}).get('tag', [])))
                has_tag_common_with_part_dict = bool(set(map(int, str(question_dict[content_id]['tags']).split())).intersection(lecture_comprehensive_part_dict.get(prev_part, {}).get('tag', [])))
                has_type_of_common_with_part_dict = prev_type_of in lecture_comprehensive_part_dict[question_dict[content_id]['part']]['type_of']
        else:
            prev_row['user_id'] = curr_row['user_id']
            if curr_row['content_type_id'] != 0:
                prev_row['has_seen_lecture'] = True
                prev_row['previous_lecture_hours'] = curr_row['hours']
                prev_row['previous_lecture'] = lecture_dict[content_id]
            else:
                prev_row['has_seen_lecture'] = False
                prev_row['previous_lecture_hours'] = 0
                prev_row['previous_lecture'] = {}

        timestamp_difference = curr_row['hours'] - prev_row['previous_lecture_hours']
        retention = func(timestamp_difference)
        return retention, prev_row['has_seen_lecture'], has_seen_same_tag_as_lecture, has_seen_same_part_as_lecture, has_part_common_with_type_of, has_tag_common_with_type_of, has_tag_common_with_part_dict, has_type_of_common_with_part_dict
    return wrapper

@apply_filter_based_on_previous_row
def running_retention(timestamp_difference):
    retention = 1.48 / ((1.25 * timestamp_difference) + 1.48)
    return retention

train_df["retention"], train_df["has_seen_lecture_before"], train_df["has_seen_same_tag_as_lecture"], train_df["has_seen_same_part_as_lecture"], train_df["has_part_common_with_type_of"], train_df["has_tag_common_with_type_of"], train_df["has_tag_common_with_part_dict"], train_df["has_type_of_common_with_part_dict"] = zip(*train_df.apply(running_retention, axis=1))

In [316]:
train_df

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,...,prior_minutes,prior_seconds,retention,has_seen_lecture_before,has_seen_same_tag_as_lecture,has_seen_same_part_as_lecture,has_part_common_with_type_of,has_tag_common_with_type_of,has_tag_common_with_part_dict,has_type_of_common_with_part_dict
0,0,0,115,5692,0,1,3,1,NaN,<NA>,...,NaN,NaN,1.000000,False,False,False,False,False,False,False
1,1,56943,115,5716,0,2,2,1,37000.0,False,...,0.616667,37.000,0.986817,False,False,False,False,False,False,False
2,2,118363,115,128,0,0,0,1,55000.0,False,...,0.916667,55.000,0.972981,False,False,False,False,False,False,False
3,3,131167,115,7860,0,3,0,1,19000.0,False,...,0.316667,19.000,0.970146,False,False,False,False,False,False,False
4,4,137965,115,7922,0,4,1,1,11000.0,False,...,0.183333,11.000,0.968647,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,15092368574,13134,2334,0,297,3,0,22333.0,True,...,0.372217,22.333,0.056078,True,False,False,True,True,False,True
996,996,15092368574,13134,2333,0,297,0,0,22333.0,True,...,0.372217,22.333,0.056078,True,False,False,True,True,False,True
997,997,15092493419,13134,2182,0,298,3,0,31666.0,True,...,0.527767,31.666,0.055986,True,False,False,True,True,False,True
998,998,15092493419,13134,2184,0,298,0,1,31666.0,True,...,0.527767,31.666,0.055986,True,False,False,True,True,False,True
999,999,15092493419,13134,2183,0,298,1,1,31666.0,True,...,0.527767,31.666,0.055986,True,False,False,True,True,False,True

In [317]:
train_df[770:800]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,...,prior_minutes,prior_seconds,retention,has_seen_lecture_before,has_seen_same_tag_as_lecture,has_seen_same_part_as_lecture,has_part_common_with_type_of,has_tag_common_with_type_of,has_tag_common_with_part_dict,has_type_of_common_with_part_dict
770,770,15014038675,13134,4683,0,139,1,1,19000.0,True,...,0.316667,19.0,0.002060,True,False,False,True,True,False,True
771,771,15014061350,13134,5719,0,140,2,1,5000.0,True,...,0.083333,5.0,0.002060,True,False,False,True,True,False,True
772,772,15015426698,13134,5905,0,141,0,1,9000.0,True,...,0.150000,9.0,0.002058,True,False,False,True,True,False,True
773,773,15016111296,13134,10002,0,142,1,1,16000.0,True,...,0.266667,16.0,0.002058,True,False,False,True,True,False,True
774,774,15016762442,13134,8165,0,143,1,1,22000.0,True,...,0.366667,22.0,0.002057,True,False,False,True,True,False,True
775,775,15016774763,13134,4521,0,144,0,1,15000.0,True,...,0.250000,15.0,0.002057,True,False,False,True,True,False,True
776,776,15016796241,13134,8786,0,145,3,1,4000.0,True,...,0.066667,4.0,0.002057,True,False,False,True,True,False,True
777,777,15016826052,13134,9047,0,146,3,1,13000.0,True,...,0.216667,13.0,0.002057,True,False,False,True,True,False,True
778,778,15016850331,13134,6004,0,147,0,1,18000.0,True,...,0.300000,18.0,0.002057,True,False,False,True,True,False,True
779,779,15016872315,13134,5255,0,148,0,1,12000.0,True,...,0.200000,12.0,0.002057,True,False,False,True,True,False,True
780,780,15016897668,13134,9087,0,149,3,1,14000.0,True,...,0.233333,14.0,0.002057,True,False,False,True,True,False,True
781,781,15016928715,13134,4259,0,150,1,1,15000.0,True,...,0.250000,15.0,0.002057,True,False,False,True,True,False,True
782,782,15019770367,13134,29544,1,120,-1,-1,NaN,False,...,NaN,NaN,1.000000,True,False,False,False,False,False,False
783,783,15019799314,13134,853,0,151,0,1,19000.0,True,...,0.316667,19.0,0.993255,True,True,True,True,True,True,True
784,784,15019835957,13134,738,0,152,0,0,18000.0,True,...,0.300000,18.0,0.984845,True,True,True,True,True,True,True
785,785,15019879972,13134,834,0,153,0,0,17000.0,True,...,0.283333,17.0,0.974930,True,False,True,True,True,True,True
786,786,15019915331,13134,1047,0,154,3,0,17000.0,True,...,0.283333,17.0,0.967109,True,False,True,True,True,True,True
787,787,15019950450,13134,381,0,155,1,1,15000.0,True,...,0.250000,15.0,0.959463,True,False,True,True,True,True,True
788,788,15019967974,13134,3153,1,156,-1,-1,NaN,False,...,NaN,NaN,1.000000,True,False,False,False,False,False,False
789,789,15019992221,13134,805,0,157,1,1,19000.0,True,...,0.316667,19.0,0.994344,True,True,True,True,True,True,True
790,790,15020023978,13134,1315,0,158,3,1,19000.0,True,...,0.316667,19.0,0.987031,True,True,True,True,True,True,True
791,791,15020058343,13134,28921,1,159,-1,-1,NaN,False,...,NaN,NaN,1.000000,True,False,False,False,False,False,False
792,792,15020072738,13134,4109,0,160,3,1,17000.0,True,...,0.283333,17.0,0.996634,True,True,True,True,True,True,True
793,793,15020085314,13134,4131,0,161,3,1,8000.0,True,...,0.133333,8.0,0.993712,True,True,True,True,True,True,True
794,794,15020268294,13134,10578,0,162,0,1,4000.0,True,...,0.066667,4.0,0.953056,True,False,False,True,True,False,True
795,795,15020297831,13134,7962,0,163,3,1,16000.0,True,...,0.266667,16.0,0.946803,True,False,False,True,True,False,True
796,796,15020328668,13134,10633,0,164,1,1,22000.0,True,...,0.366667,22.0,0.940361,True,False,False,True,True,False,True
797,797,15020358421,13134,10444,0,165,0,1,23000.0,True,...,0.383333,23.0,0.934229,True,False,False,True,True,False,True
798,798,15020400418,13134,10579,0,166,2,1,21000.0,True,...,0.350000,21.0,0.925708,True,False,False,True,True,False,True
799,799,15020443982,13134,7892,0,167,2,1,24000.0,True,...,0.400000,24.0,0.917032,True,False,False,True,True,False,True

In [323]:
train_df[(train_df['has_type_of_common_with_part_dict']!=True) & (train_df['content_type_id']==0)]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,...,prior_minutes,prior_seconds,retention,has_seen_lecture_before,has_seen_same_tag_as_lecture,has_seen_same_part_as_lecture,has_part_common_with_type_of,has_tag_common_with_type_of,has_tag_common_with_part_dict,has_type_of_common_with_part_dict
0,0,0,115,5692,0,1,3,1,NaN,<NA>,...,NaN,NaN,1.000000,False,False,False,False,False,False,False
1,1,56943,115,5716,0,2,2,1,37000.0,False,...,0.616667,37.0,0.986817,False,False,False,False,False,False,False
2,2,118363,115,128,0,0,0,1,55000.0,False,...,0.916667,55.0,0.972981,False,False,False,False,False,False,False
3,3,131167,115,7860,0,3,0,1,19000.0,False,...,0.316667,19.0,0.970146,False,False,False,False,False,False,False
4,4,137965,115,7922,0,4,1,1,11000.0,False,...,0.183333,11.0,0.968647,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,685,12948517301,13134,868,0,54,0,1,12000.0,True,...,0.200000,12.0,0.000329,False,False,False,False,False,False,False
686,686,12948521851,13134,868,0,53,3,0,7000.0,True,...,0.116667,7.0,0.000329,False,False,False,False,False,False,False
687,687,12948556717,13134,1136,0,55,0,1,23000.0,True,...,0.383333,23.0,0.000329,False,False,False,False,False,False,False
688,688,12948599939,13134,758,0,56,0,0,18000.0,True,...,0.300000,18.0,0.000329,False,False,False,False,False,False,False
689,689,12948747295,13134,477,0,57,3,0,25000.0,True,...,0.416667,25.0,0.000329,False,False,False,False,False,False,False

In [68]:
lectures_ids = train_df[train_df['content_type_id']!=0].content_id.unique()

In [74]:
lecture_tags = lectures_df[lectures_df.lecture_id.isin(lectures_ids)].tag.unique()
#tags.str.contains(r"^27", na=False)

In [106]:
lecture_tags[0]

62

In [124]:
questions_df['has_related_tag'] = questions_df.apply(lambda row: any([ str(tag) in str(row.tags).split() for tag in list(lecture_tags)]), axis=1)

In [125]:
questions_df[questions_df['has_related_tag']]

,question_id,bundle_id,correct_answer,part,tags,has_related_tag
9,9,9,3,1,10 164 81,True
16,16,16,3,1,131 99 92,True
31,31,31,1,1,131 40 162 81,True
37,37,37,1,1,131 40 81,True
45,45,45,1,1,10 164 162 81,True
...,...,...,...,...,...,...
13087,13087,13085,3,4,161 67 81,True
13089,13089,13088,0,4,161 12 81,True
13092,13092,13091,2,4,161 67 92,True
13385,13385,13385,0,5,52,True
13493,13493,13493,3,5,43,True

In [309]:
train_df[train_df['content_type_id']!=0]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,...,prior_minutes,prior_seconds,retention,has_seen_lecture_before,has_seen_same_tag_as_lecture,has_seen_same_part_as_lecture,has_part_common_with_type_of,has_tag_common_with_type_of,has_tag_common_with_part_dict,has_type_of_common_with_part_dict
89,89,653762,2746,6808,1,14,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
117,117,10183847,5382,16736,1,21,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
212,212,1424348597,5382,30207,1,104,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
216,216,1425557777,5382,18545,1,121,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
295,295,405813029,8623,10540,1,59,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
302,302,406265768,8623,25843,1,66,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
323,323,577424049,8623,29544,1,87,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
409,409,3083871588,12741,20307,1,33,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
441,441,3263276452,12741,10688,1,53,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
486,486,3268387671,12741,10217,1,66,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
487,487,3577136075,12741,3852,1,67,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
561,561,3777499330,12741,18186,1,88,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
623,623,4465486358,12741,22792,1,106,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
690,690,12948802833,13134,21887,1,58,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
782,782,15019770367,13134,29544,1,120,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
788,788,15019967974,13134,3153,1,156,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
791,791,15020058343,13134,28921,1,159,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False
803,803,15020622121,13134,28349,1,172,-1,-1,NaN,False,...,NaN,NaN,1.0,True,False,False,False,False,False,False