#### Imports

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 100)

KAGGLE = 0

#### Global Variables

In [2]:
TRAIN_CSV_PATH = 'train.feather'
QUESTIONS_CSV_PATH = 'questions.csv'
LECTURES_CSV_PATH = 'lectures.csv'
TEST_CSV_PATH = 'test.csv'
SAMPLE_CSV_PATH = 'example_sample_submission.csv'

if KAGGLE:
    TRAIN_CSV_PATH = '/kaggle/input/riiid-test-answer-prediction/train.csv'
    QUESTIONS_CSV_PATH = '/kaggle/input/riiid-test-answer-prediction/questions.csv'
    LECTURES_CSV_PATH = '/kaggle/input/riiid-test-answer-prediction/lectures.csv'
    TEST_CSV_PATH = '/kaggle/input/riiid-test-answer-prediction/test.csv'
    SAMPLE_CSV_PATH = '/kaggle/input/riiid-test-answer-prediction/example_sample_submission.csv'

COLUMN_TYPES = {
    'row_id': 'int64',
    'timestamp': 'int64',
    'user_id': 'int32',
    'content_id': 'int16',
    'content_type_id': 'int8',
    'task_container_id': 'int16',
    'user_answer': 'int8',
    'answered_correctly': 'int8',
    'prior_question_elapsed_time': 'float32',
    'prior_question_had_explanation': 'boolean'
}

In [7]:
# train_df = pd.read_csv(TRAIN_CSV_PATH, nrows=10**5, dtype=COLUMN_TYPES)
train_df = pd.read_feather(TRAIN_CSV_PATH)
questions_df = pd.read_csv(QUESTIONS_CSV_PATH)
lectures_df = pd.read_csv(LECTURES_CSV_PATH)

#### Check for user specific features

In [8]:
train_df

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,<NA>
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False
...,...,...,...,...,...,...,...,...,...,...
101230327,101230327,428564420,2147482888,3586,0,22,0,1,18000.0,True
101230328,101230328,428585000,2147482888,6341,0,23,3,1,14000.0,True
101230329,101230329,428613475,2147482888,4212,0,24,3,1,14000.0,True
101230330,101230330,428649406,2147482888,6343,0,25,1,0,22000.0,True
101230331,101230331,428692118,2147482888,7995,0,26,3,1,29000.0,True

##### 1. Get timestamp as hours and minutes

In [9]:
print("user ids: ", train_df.user_id.unique(), ", user count: ", len(train_df.user_id.unique()))

user ids:  [       115        124       2746 ... 2147481750 2147482216 2147482888] , user count:  393656

In [10]:
df = train_df['user_id'].value_counts().reset_index()
df.columns = [
    'user_id', 
    'count'
]
df = df.sort_values('count')
print("number of users with less interactions: {} \n".format(df[:1]))
print("number of users with more interactions: {} \n".format(df[-1:]))

number of users with less interactions:           user_id  count
393655  607601423      1

number of users with more interactions:      user_id  count
0  801103753  17917

In [11]:
student_id = 1283420

In [12]:
feature_df = train_df[train_df['user_id']==student_id]

In [13]:
def get_timestamp_in_parts(row):
    millis = row.timestamp
    seconds = (millis / 1000)
    minutes = (seconds / 60)
    hours = (minutes / 60)
    days = (hours / 24)
    return days, hours, minutes

def get_prior_elasped_time_in_parts(row):
    prior_millis = row.prior_question_elapsed_time
    prior_seconds = (prior_millis / 1000)
    prior_minutes = (prior_seconds / 60)
    return prior_minutes, prior_seconds

feature_df[['days', 'hours', 'minutes']] = [*feature_df.apply(lambda row: get_timestamp_in_parts(row), axis=1)]
feature_df[['prior_minutes', 'prior_seconds']] = [*feature_df.apply(lambda row: get_prior_elasped_time_in_parts(row), axis=1)]

In [14]:
feature_df

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,days,hours,minutes,prior_minutes,prior_seconds
54058,54058,0,1283420,3822,0,0,1,1,NaN,<NA>,0.000000,0.000000,0.000000,NaN,NaN
54059,54059,29795,1283420,638,0,1,0,1,11000.0,False,0.000345,0.008276,0.496583,0.183333,11.000
54060,54060,91982,1283420,4231,0,2,0,0,28000.0,False,0.001065,0.025551,1.533033,0.466667,28.000
54061,54061,117342,1283420,7978,0,3,3,0,60000.0,False,0.001358,0.032595,1.955700,1.000000,60.000
54062,54062,145733,1283420,8225,0,4,1,1,23000.0,False,0.001687,0.040481,2.428883,0.383333,23.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61622,61622,22364257029,1283420,2041,0,5260,0,1,16000.0,True,258.845567,6212.293619,372737.617150,0.266667,16.000
61623,61623,22364257029,1283420,2039,0,5260,3,1,16000.0,True,258.845567,6212.293619,372737.617150,0.266667,16.000
61624,61624,22373215518,1283420,3401,0,5261,1,1,26333.0,True,258.949254,6214.782088,372886.925300,0.438883,26.333
61625,61625,22373215518,1283420,3400,0,5261,2,0,26333.0,True,258.949254,6214.782088,372886.925300,0.438883,26.333
61626,61626,22373215518,1283420,3399,0,5261,2,1,26333.0,True,258.949254,6214.782088,372886.925300,0.438883,26.333

##### 2. Find the intro rows.

In [17]:
# There are no actions which are having elapsed time when the action is lecture and the explanation is false (it will be always false for lectures)
train_df[(train_df.answered_correctly == -1) &  (train_df.prior_question_had_explanation==False)].count()

row_id                            1959032
timestamp                         1959032
user_id                           1959032
content_id                        1959032
content_type_id                   1959032
task_container_id                 1959032
user_answer                       1959032
answered_correctly                1959032
prior_question_elapsed_time             0
prior_question_had_explanation    1959032
dtype: int64

In [18]:
train_df[(train_df.timestamp == 0) &  (train_df.content_type_id==1)].count()
# There are 80 rows related to the intro lecutures

row_id                            80
timestamp                         80
user_id                           80
content_id                        80
content_type_id                   80
task_container_id                 80
user_answer                       80
answered_correctly                80
prior_question_elapsed_time        0
prior_question_had_explanation    80
dtype: int64

In [21]:
len(train_df[(train_df.timestamp == 0) &  (train_df.content_type_id==0)].user_id.unique())

393576

In [28]:
len(train_df[(train_df.timestamp == 0) &  (train_df.content_type_id==1)].user_id.unique())

80

In [ ]:
# The unique user count is 393656
# The count when added will be 393576 + 80

In [22]:
# some of the intro are having the explanation
len(train_df[~(train_df.timestamp == 0) & (train_df.prior_question_had_explanation.isnull())].user_id.unique())

65

In [24]:
# most of the elapsed time is null for intro sections
len(train_df[~(train_df.timestamp == 0) & (train_df.prior_question_elapsed_time.isnull())].user_id.unique())

149605

In [25]:
dropped_duplicates = train_df.drop_duplicates(subset=['user_id'])
dropped_duplicates

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,<NA>
46,46,0,124,7900,0,0,0,1,NaN,<NA>
76,76,0,2746,5273,0,0,1,0,NaN,<NA>
96,96,0,5382,5000,0,0,0,1,NaN,<NA>
224,224,0,8623,3915,0,0,3,1,NaN,<NA>
...,...,...,...,...,...,...,...,...,...,...
101228989,101228989,0,2147470770,7900,0,0,0,1,NaN,<NA>
101229217,101229217,0,2147470777,7900,0,0,2,0,NaN,<NA>
101229975,101229975,0,2147481750,4137,0,0,0,0,NaN,<NA>
101230025,101230025,0,2147482216,3748,0,0,1,0,NaN,<NA>
101230305,101230305,0,2147482888,6147,0,0,0,1,NaN,<NA>

In [27]:
len(train_df[(train_df.timestamp == 0)].user_id.unique())
# This proves that the timestamp 0 is the beginning for all the students

393656

In [31]:
train_df['intro_section'] = np.where(train_df.timestamp == 0, True, False)
train_df.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,intro_section
0,0,0,115,5692,0,1,3,1,NaN,<NA>,True
1,1,56943,115,5716,0,2,2,1,37000.0,False,False
2,2,118363,115,128,0,0,0,1,55000.0,False,False
3,3,131167,115,7860,0,3,0,1,19000.0,False,False
4,4,137965,115,7922,0,4,1,1,11000.0,False,False

##### 3. The actions after the lectures should be tagged with something.

In [49]:
train_df[(train_df['user_id']==student_id) & (train_df['row_id'] >= 54177)][:100]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,intro_section
54177,54177,1107546182,1283420,17124,1,89,-1,-1,NaN,False,False
54178,54178,1107572322,1283420,5347,0,90,2,1,37000.0,True,False
54179,54179,1107613497,1283420,5330,0,91,0,1,12000.0,True,False
54180,54180,1107657638,1283420,3990,0,88,1,1,26000.0,True,False
54181,54181,1107714985,1283420,9150,0,92,1,0,21000.0,True,False
54182,54182,1107794203,1283420,3717,0,93,2,0,7000.0,True,False
54183,54183,1107909885,1283420,5166,0,94,1,1,26000.0,True,False
54184,54184,1108052965,1283420,5672,0,95,0,1,35000.0,True,False
54185,54185,1108186344,1283420,8958,0,96,3,1,59000.0,True,False
54186,54186,1108306940,1283420,4474,0,97,1,1,65000.0,True,False
54187,54187,1108401905,1283420,6185,0,98,3,1,38000.0,True,False
54188,54188,1108438341,1283420,6393,0,99,0,1,42000.0,True,False
54189,54189,1108660726,1283420,8696,0,100,0,0,15000.0,True,False
54190,54190,1108936933,1283420,6402,0,101,2,0,24000.0,True,False
54191,54191,1109018415,1283420,4771,0,102,0,1,59000.0,True,False
54192,54192,1109081188,1283420,6016,0,103,3,1,35000.0,True,False
54193,54193,1109106574,1283420,9442,0,104,0,1,28000.0,True,False
54194,54194,1109137336,1283420,5948,0,105,1,1,7000.0,True,False
54195,54195,1109197269,1283420,4766,0,106,0,1,14000.0,True,False
54196,54196,1109302934,1283420,5052,0,107,3,1,21000.0,True,False
54197,54197,1109459761,1283420,9764,0,108,0,0,57000.0,True,False
54198,54198,1109554580,1283420,4370,0,109,1,1,68000.0,True,False
54199,54199,1109677034,1283420,5008,0,110,2,1,15000.0,True,False
54200,54200,1109737431,1283420,8487,0,111,0,1,82000.0,True,False
54201,54201,1109816193,1283420,9594,0,112,2,1,19000.0,True,False
54202,54202,1109879029,1283420,3893,0,113,2,1,40000.0,True,False
54203,54203,1109924728,1283420,6349,0,114,1,1,24000.0,True,False
54204,54204,1109997259,1283420,5896,0,115,0,0,16000.0,True,False
54205,54205,1111466923,1283420,6563,0,116,1,1,45000.0,True,False
54206,54206,1111466923,1283420,6562,0,116,1,1,45000.0,True,False
54207,54207,1111466923,1283420,6564,0,116,0,1,45000.0,True,False
54208,54208,1111466923,1283420,6561,0,116,2,1,45000.0,True,False
54209,54209,1111667997,1283420,6759,0,117,0,1,47500.0,True,False
54210,54210,1111667997,1283420,6758,0,117,2,1,47500.0,True,False
54211,54211,1111667997,1283420,6760,0,117,1,1,47500.0,True,False
54212,54212,1111667997,1283420,6757,0,117,0,0,47500.0,True,False
54213,54213,1111866317,1283420,10233,0,118,0,1,31500.0,True,False
54214,54214,1111866317,1283420,10232,0,118,3,1,31500.0,True,False
54215,54215,1111866317,1283420,10235,0,118,1,0,31500.0,True,False
54216,54216,1111866317,1283420,10234,0,118,3,1,31500.0,True,False
54217,54217,1112095954,1283420,6919,0,119,0,1,29250.0,True,False
54218,54218,1112095954,1283420,6916,0,119,1,1,29250.0,True,False
54219,54219,1112095954,1283420,6918,0,119,0,1,29250.0,True,False
54220,54220,1112095954,1283420,6917,0,119,2,0,29250.0,True,False
54221,54221,1112370482,1283420,10078,0,120,0,1,38250.0,True,False
54222,54222,1112370482,1283420,10079,0,120,3,0,38250.0,True,False
54223,54223,1112370482,1283420,10080,0,120,1,1,38250.0,True,False
54224,54224,1112370482,1283420,10081,0,120,2,1,38250.0,True,False
54225,54225,1122498332,1283420,8704,0,121,1,1,42500.0,True,False
54226,54226,1122588532,1283420,3878,0,122,2,0,13000.0,True,False
54227,54227,1122754663,1283420,4481,0,123,3,0,18000.0,True,False
54228,54228,1122805664,1283420,4428,0,124,0,1,65000.0,True,False
54229,54229,1122835102,1283420,9641,0,125,0,1,7000.0,True,False
54230,54230,1122865493,1283420,6129,0,126,1,1,17000.0,True,False
54231,54231,1122890299,1283420,3641,0,127,2,1,22000.0,True,False
54232,54232,1122929922,1283420,4029,0,128,1,1,13000.0,True,False
54233,54233,1122947893,1283420,9561,0,129,3,1,27000.0,True,False
54234,54234,1122982739,1283420,5447,0,130,3,1,8000.0,True,False
54235,54235,1123053500,1283420,5664,0,131,0,0,16000.0,True,False
54236,54236,1124282822,1283420,6481,1,133,-1,-1,NaN,False,False
54237,54237,1124300093,1283420,5664,0,134,3,1,21000.0,True,False
54238,54238,1124316503,1283420,3945,0,135,2,1,13000.0,True,False
54239,54239,1124447627,1283420,5668,0,132,2,1,10000.0,True,False
54240,54240,1124512344,1283420,9058,0,136,2,1,88000.0,True,False
54241,54241,1124874010,1283420,10070,0,137,1,0,15000.0,True,False
54242,54242,1124874010,1283420,10071,0,137,1,1,15000.0,True,False
54243,54243,1124874010,1283420,10072,0,137,2,0,15000.0,True,False
54244,54244,1124874010,1283420,10073,0,137,1,0,15000.0,True,False
54245,54245,1125185136,1283420,10213,0,138,0,1,39000.0,True,False
54246,54246,1125185136,1283420,10214,0,138,0,1,39000.0,True,False
54247,54247,1125185136,1283420,10212,0,138,3,0,39000.0,True,False
54248,54248,1125185136,1283420,10215,0,138,1,1,39000.0,True,False
54249,54249,1125431673,1283420,6490,0,139,2,0,30250.0,True,False
54250,54250,1125431673,1283420,6491,0,139,0,1,30250.0,True,False
54251,54251,1125431673,1283420,6492,0,139,0,0,30250.0,True,False
54252,54252,1125431673,1283420,6489,0,139,3,1,30250.0,True,False
54253,54253,1125788285,1283420,29695,1,141,-1,-1,NaN,False,False
54254,54254,1125869593,1283420,6490,0,142,1,1,42000.0,True,False
54255,54255,1125869593,1283420,6489,0,142,3,1,42000.0,True,False
54256,54256,1125869593,1283420,6491,0,142,0,1,42000.0,True,False
54257,54257,1125869593,1283420,6492,0,142,3,1,42000.0,True,False
54258,54258,1126052475,1283420,6615,0,140,3,0,18500.0,True,False
54259,54259,1126052475,1283420,6616,0,140,1,1,18500.0,True,False
54260,54260,1126052475,1283420,6614,0,140,2,0,18500.0,True,False
54261,54261,1126052475,1283420,6613,0,140,3,1,18500.0,True,False
54262,54262,1126263718,1283420,6602,0,143,0,0,32500.0,True,False
54263,54263,1126263718,1283420,6601,0,143,2,1,32500.0,True,False
54264,54264,1126263718,1283420,6603,0,143,0,1,32500.0,True,False
54265,54265,1126263718,1283420,6604,0,143,0,0,32500.0,True,False
54266,54266,1128117390,1283420,17326,1,144,-1,-1,NaN,False,False
54267,54267,1128200408,1283420,6845,0,145,3,1,30750.0,True,False
54268,54268,1128200408,1283420,6846,0,145,3,1,30750.0,True,False
54269,54269,1128200408,1283420,6847,0,145,3,1,30750.0,True,False
54270,54270,1128200408,1283420,6848,0,145,3,1,30750.0,True,False
54271,54271,1128283150,1283420,175,0,146,0,0,17250.0,True,False
54272,54272,1128327592,1283420,149,0,147,2,1,31000.0,True,False
54273,54273,1128364131,1283420,10677,0,148,1,1,22000.0,True,False
54274,54274,1128405327,1283420,7903,0,149,3,0,22000.0,True,False
54275,54275,1128447967,1283420,76,0,150,3,1,21000.0,True,False
54276,54276,1128486265,1283420,776,0,151,1,1,24000.0,True,False

In [53]:
lectures_df.type_of.unique()

array(['concept', 'solving question', 'intention', 'starter'],
      dtype=object)

In [61]:
lectures_df[lectures_df.type_of=='starter']

     lecture_id  tag  part  type_of
54         4385  181     5  starter
261       21169  151     5  starter
362       28569   27     6  starter

In [72]:
starter_ids = train_df[(train_df.timestamp == 0)].task_container_id.unique()

In [73]:
questions_df[questions_df.question_id.isin(starter_ids)]

    question_id  bundle_id  correct_answer  part            tags
0             0          0               0     1   51 131 162 38
1             1          1               1     1       131 36 81
2             2          2               0     1  131 101 162 92
3             3          3               0     1  131 149 162 29
4             4          4               3     1    131 5 162 38
5             5          5               2     1  131 149 162 81
6             6          6               2     1    10 94 162 92
7             7          7               0     1   61 110 162 29
8             8          8               3     1   131 13 162 92
9             9          9               3     1       10 164 81
10           10         10               0     1       131 36 38
12           12         12               1     1       51 131 92
13           13         13               1     1        131 5 29
15           15         15               3     1       61 110 81
16           16         16               3     1       131 99 92
18           18         18               1     1       61 110 92

In [74]:
questions_df[questions_df.part == 1]

       question_id  bundle_id  correct_answer  part            tags
0                0          0               0     1   51 131 162 38
1                1          1               1     1       131 36 81
2                2          2               0     1  131 101 162 92
3                3          3               0     1  131 149 162 29
4                4          4               3     1    131 5 162 38
...            ...        ...             ...   ...             ...
12930        12930      12930               0     1         9 10 92
12931        12931      12931               2     1      131 104 92
12932        12932      12932               0     1      131 187 92
12933        12933      12933               3     1         9 10 92
12934        12934      12934               2     1       131 93 92

[992 rows x 5 columns]

In [76]:
train_df[(train_df.timestamp != 0) & (train_df.task_container_id.isin(starter_ids))]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,intro_section
1,1,56943,115,5716,0,2,2,1,37000.0,False,False
2,2,118363,115,128,0,0,0,1,55000.0,False,False
3,3,131167,115,7860,0,3,0,1,19000.0,False,False
4,4,137965,115,7922,0,4,1,1,11000.0,False,False
5,5,157063,115,156,0,5,2,1,5000.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...
101230317,101230317,254505467,2147482888,3642,0,12,1,0,33000.0,True,False
101230318,101230318,254538722,2147482888,6012,0,13,3,1,37000.0,True,False
101230320,101230320,428190226,2147482888,4496,0,15,0,1,25000.0,True,False
101230321,101230321,428225923,2147482888,4425,0,16,1,0,26000.0,True,False
101230323,101230323,428449609,2147482888,8711,0,18,2,0,9000.0,True,False

In [ ]:
# This shows that there a way more intro sections.

In [78]:
train_df['intro_section'] = np.where(train_df.task_container_id.isin(starter_ids), True, False)
train_df.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,intro_section
0,0,0,115,5692,0,1,3,1,NaN,<NA>,True
1,1,56943,115,5716,0,2,2,1,37000.0,False,True
2,2,118363,115,128,0,0,0,1,55000.0,False,True
3,3,131167,115,7860,0,3,0,1,19000.0,False,True
4,4,137965,115,7922,0,4,1,1,11000.0,False,True